* {
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  text-decoration: none;
  position: relative;
  object-fit: cover;
}

body {
  height: 100dvh;
  background: rgb(31, 42, 72);
}

nav {
  min-height: 10dvh;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-height: 90dvh;
}

.quiz-card {
  width: 30rem;
  display: flex;
  flex-direction: column;
}

.quiz-card img {
  border-radius: 16px 16px 0 0;
}

.question-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.quiz-answer:hover {
  cursor: pointer;
  background-color: rgba(228, 228, 228, 0.5);
}

.bg-danger,
.bg-success {
  color: white;
}

.modal-dialog {
  margin-top: 350px;
}

.modal-content {
  min-height: 350px;
}

h5 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  width: 100%;
}

.modal-body {
  font-size: 32px;
  font-weight: 500;
}

.progress {
  border-radius: 0;
}

.card-question-content {
  display: flex;
  border-radius: 0 0 16px 16px;
}

@media (max-width: 900px) {
  .quiz-card {
    width: 100%;
    height: 90dvh;
  }

  .quiz-card img {
    border-radius: 0;
  }

  .card-question-content {
    border-radius: 0;
  }
}
